.errmsg,
.offscreen{
    color:$color-red;
    text-align: center;
}
.validate{
    color: $color-red;
}
.validateVideo{
    color: $color-red;
    margin-left: 40%;
}
.Loading{
    margin-left: 26.5%;
}