.mainview {
    display: grid;
    grid-template-columns: 1fr 30%;
    max-width: 100%;
    padding-bottom: 120px;
    &__tags{
        background-color: lighten($color-gray,40%);
        width: 15rem;
        height: max-content;
        overflow: auto;
        text-align: left;
        margin-top: -40px;
        align-items: center;
        float: right;
        justify-content: center;
        grid-row: 3;
        grid-column: 2;
        p{
            margin-left: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .tags{
            
            display: grid;
            margin-left: 8px;
            margin-bottom: 10px;
            
            &__list{
                padding-left: 2px;
                margin-top: 0;
                margin-bottom: 0;
                
            }
            &__item{
                @include tag-item;
            }
        }
    }
}