.video-container {
    display: grid;
    &__banner {
      background-color: lighten($color-black, 25%);
      height: 8rem;
      padding: 30px;
  
      p {
        color: $color-white;
        font-size: 3rem;
        margin: 0;
        margin-left: 17.5%;
      }
      &__meta {
        display: grid;
        margin-left: 17.5%;
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto auto;
        margin-top: 50px;
        &__btn {
          grid-row: 1/ -1;
          align-self: center;
          &__follow {
            font-size: 1rem;
            color: lighten($color-gray, 20%);
            margin-right: 20px;
            &:hover,
            &:active {
              background-color: lighten($color-gray, 15%);
            }
          }
          &__favorite {
            font-size: 1rem;
            border-color: darken($color-green, 20%);
            color: darken($color-green, 20%);
            svg {
              margin-right: 6px;
            }
            &:hover,
            &:active {
              background-color: darken($color-green, 10%);
              color: $color-white;
            }
          }
          &__favorite-active {
            font-size: 1rem;
            background-color: darken($color-green, 20%);
            border-color: darken($color-green, 20%);
            svg {
              color: $color-white;
              margin-right: 6px;
            }
            color: $color-white;
            &:hover,
            &:active {
              background-color: darken($color-green, 10%);
            }
          }
        }
        a {
          text-decoration: none;
          color: $color-white;
          font-size: 1.2rem;
          margin-right: 40px;
          &:hover,
          &:active {
            text-decoration: underline $color-white;
          }
        }
        span {
          color: $color-white;
          grid-row: 2;
          grid-column: 2;
        }
        img {
          grid-row: 1 / span 2;
          border-radius: 100px;
          height: 40px;
          width: 40px;
        }
      }
    }
  
    &__content {
      height: max-content;
      padding: 10px;
      width: 60%;
      margin-left: 18.5%;
      border-style: solid;
      border-color: $color-gray;
      border-top: none;
      border-left: none;
      border-right: none;
      border-width: 1px;
      ul {
        padding-left: 2px;
        margin-top: 1rem;
        margin-bottom: -5px;
        margin-right: 0px;
        display: flex;
        align-items: flex-end;
        grid-row: 3;
        justify-self: end;
        li {
          width: max-content;
          list-style: none;
          border-style: solid;
          border-width: 1px;
          margin-right: 5px;
          border-radius: 100px;
          height: 17px;
          background-color: $color-white;
          padding: 5px;
          margin-bottom: 3px;
          color: lighten($color-gray, 20%);
        }
      }
    }
    &__meta {
      display: grid;
      margin-left: 30.5%;
      margin-right: 30.5%;
      grid-template-columns: auto auto 1fr;
      grid-template-rows: auto auto;
      margin-top: 50px;
      margin-bottom: 2%;
      &__btn {
        grid-row: 1/ -1;
        align-self: center;
        &__follow {
          font-size: 10%;
          color: lighten($color-gray, 20%);
          margin-right: 20px;
          &:hover,
          &:active {
            background-color: lighten($color-gray, 15%);
          }
        }
        &__favorite {
          font-size: 1rem;
          border-color: darken($color-green, 20%);
          color: darken($color-green, 20%);
          svg {
            margin-right: 6px;
          }
          &:hover,
          &:active {
            background-color: darken($color-green, 10%);
            color: $color-white;
          }
        }
        &__favorite-active {
          font-size: 1rem;
          background-color: darken($color-green, 20%);
          border-color: darken($color-green, 20%);
          svg {
            color: $color-white;
            margin-right: 6px;
          }
          color: $color-white;
          &:hover,
          &:active {
            background-color: darken($color-green, 10%);
          }
        }
      }
      a {
        text-decoration: none;
        color: darken($color-green, 10%);
        font-size: 1.2rem;
        margin-right: 40px;
        &:hover,
        &:active {
          text-decoration: underline darken($color-green, 10%);
        }
      }
      span {
        color: darken($color-gray, 10%);
        grid-row: 2;
        grid-column: 2;
      }
      img {
        grid-row: 1 / span 2;
        height: 40px;
        width: 40px;
        border-radius: 100px;
      }
    }
    &__comment-container {
      padding: 20px;
      width: 40%;
      margin-left: 28.5%;
      height: max-content;
      margin-bottom: 100px;
      &__comment {
        border-style: solid;
        border-color: $color-gray;
        border-width: 1px;
        border-radius: 3px;
        display: grid;
        height: max-content;
        &__post {
          display: grid;
          textarea {
            width: 99%;
            border-top: none;
            border-left: none;
            border-right: none;
            height: 98%;
            padding: 0;
          }
          p {
            margin: 0;
            background-color: lighten($color-gray,40%);
          }
        }
        &__row-2{
          display: grid;
          grid-template-columns: 3rem auto;
          align-items: center;
          grid-template-rows: 40px;
          background-color: lighten($color-gray,40%);
          img {
            background-color: lighten($color-gray,40%);
            margin-top: 0.2rem;
            justify-self: start;
            width: 40px;
            height: 100%;
            margin: 0;
            border-radius: 100px;
          }
          &__btn-valid {
            background-color: lighten($color-gray,40%);
            width: 100%;
            height: 100%;
            margin: 0;
            display: grid;
            align-items: center;
            button {
              cursor: pointer;
              background-color: #16b931;
              color: white;
              border: 1px solid #16b931;
              border-radius: 4px;
              font-weight: bold;
              justify-self: end;
              &:hover,
              &:active {
                background-color: #076d3d;
                border-color: #076d3d;
              }
            }
          }
          &__btn-notvalid {
            background-color: lighten($color-gray,40%);
            display: grid;
            margin: 0;
            align-items: center;
            height: max-content;
            width: 100%;
            height: 100%;
            button {
              justify-self: end;
              background-color: $color-gray;
              color: white;
              border: 1px solid $color-gray;
              border-radius: 4px;
              font-weight: bold;
              height: 60%;
            }
          }
        }
        
      }
      ul {
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .video-container-video {
      padding: 10px;
      margin-left: 18.5%;
      height: max-content;
    video{
      width: 70%;
      height: 70%;
    }
    ul {
      padding-left: 2px;
      margin-top: 1rem;
      margin-bottom: -5px;
      margin-right: 0px;
      display: flex;
      align-items: flex-end;
      grid-row: 3;
      justify-self: end;
      li {
        width: max-content;
        list-style: none;
        border-style: solid;
        border-width: 1px;
        margin-right: 5px;
        border-radius: 100px;
        height: 17px;
        background-color: $color-white;
        padding: 5px;
        margin-bottom: 3px;
        color: lighten($color-gray, 20%);
      }
    }
  }